player-connection-mode=Listen
player-connection-guid=2442856530
player-connection-debug=0
player-connection-project-name=Le Chapeau
player-connection-ip=192.168.1.28
player-connection-ip=192.168.1.26
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3c60a601082043bdac301a4059a51f8e
